@charset "utf-8";
/*
  Sitename: http://www.heroesoferadin.com/
  Author: Mitchell R.K. Shelton

  styles.css
  Main styles for Heroes of Eradin.
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ Core ~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  margin: 0px;
  background-color: #eee;
  color: #fff;
}
#container {
  margin: 0px auto;
  width: 960px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  color: #000;
}
.button {
  border: 1px solid #ccc;
  background-color: #999;
  padding: 5px;
  display: block;
  text-align: center;
  width: 100%;
}
.button a:link {
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ VTerm ~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
#vterm {
  font-family: monospace;
  margin: 5px auto;
  background-color: #000;
  max-width: 600px;
  width: 100%;
  border: 2px solid #fff;
  padding: 10px;
}
.vterm-prompt {
  color: #090;
  display: inline;
}
.vterm-message {
  color: #fff;
  display: inline;
}