@charset "utf-8";
/*
  Sitename: http://www.heroesoferadin.com/
  Author: Mitchell R.K. Shelton

  style.css
  Primary styles for site.
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ Main ~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
#header, #footer, #container {
  margin: 0px auto;
  max-width: 1024px;
  width: 98%;
}
.button-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
a.button {
  min-width: 200px;
  width: 90%;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 5px 0px;
}

a.button.auto {
  background: #900;
  color: #fff;
  text-shadow: rgb(121, 121, 121) 0 1px 1px;
}
a.button.auto:hover {
  background: #600;
}